<div class="container" ng-controller="Clogeo">
	<nav class="navbar navbar-fixed-top navbar-inverse">
		            
			<div class="container">
			                
			    <div class="navbar-brand">
			         Sistema De Ventas Bienvenido/Sales system Welcome :D
			    </div>
			    <div class="collapse navbar-collapse navHeaderCollapse">
				    <ul class=" nav navbar-nav navbar-right">
				         <li><a  class="btn btn-link" type="button" ng-click="menu()">
				              <span class="glyphicon glyphicon-home"></span> Menú </a></li>
				    </ul>
			    </div>
			    <h1><center><font color="white">LOGIN</font></center></h1>                         
			</div>
	</nav>
</div>