<div class="container" ng-controller="Ctrlboleta">
	<nav class="navbar navbar-fixed-top navbar-inverse">
	            
		<div class="container" >
		             
		    <div class="navbar-brand navbar-left">
		    	<img src="Imagenes/icono.ico" width="70" height="70">
		         
		    </div>  
		    <div class="navbar-brand">
		    	Transaccion Productos 
		    </div>
		     	
		    <div class="collapse navbar-collapse navHeaderCollapse">
			    <ul class=" nav navbar-nav navbar-right">
			        <li><a type="label" ng-model="usuario_user">
			              <span class="glyphicon glyphicon-user"></span>{{var_user}}</a>
			        </li>
			    	<li><a class="btn btn-link" type="button" ng-click="cerrar()">
			              <span class="glyphicon glyphicon-home"></span> CERRAR SESI&Oacute;N </a>
			        </li>
			    </ul>
		    </div>
		                             
		</div>
		
	</nav>

	<div class="jumbotron">

	</div>

	<div class="container">
		<div class="col-md-1"></div>
		<div id="centro" class="col-md-10">
			<!--Primera fila-->
			<div id="titulo" class="row">
				<p>Boleta de Venta</p>
			</div>
			<div id="borde">
				<div id="usuario" class="row">
					<label>Usuario : </label> {{var_user}}
				</div>

				<!--segunda fila: tabla -->
				<div class="row">
					<form id="realizarCompra">
						<table class="table table-responsive table-hover">
							<thead class="row">
								<th class="col-md-1">CANTIDAD</th>
							    <th class="col-md-2">PRODUCTO</th>
							    <th class="col-md-2">PRECIO UNIDAD</th>
							    <th class="col-md-2">PRECIO TOTAL</th>
							    <th class="col-md-2"></th>
						    </thead>
						    <tbody ng-repeat="list in listaP | filter: busqueda">
						    	<tr class='info'>
									<td class='producto'>Leche Gloria</td>
									<td class='precioP'>S/. 3.50</td>
									<td class='precioT'>S/. 14.00</td>
									<td class='cant'><input name="cant" type="number"  class="form-control" id="canti" ng-model="cantidad" placeholder="unidad"></td>
									<td><a type="button" class="btn btn-danger"  ng-click="eliminar(list)"><span class="glyphicon glyphicon-remove"></span>Eliminar</a></td>
								</tr>
					        </tbody>
						</table>
						<div id="footerPrecio">
							<div id="precio">
								<label>Total : S/.<span>30.52</span></label>
							</div>
						    <input type="submit" class="btn btn-primary" value="Realizar Compra"/>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	<footer>
		<div class="row">
			<div id="final" class="col-md-12">
				<p>Negocios Malibu</p>
				<p>Av. Ramon Castilla N° 808</p>
				<p>negociosmalibu@outlook.com</p>
				<p>Chulucanas, Piura, Per&uacute;</p>
			</div>
		</div>
	</footer>
</div>