<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 centro">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div id="titulo" class="col-md-12">
                            <h1><center><b>MALIBU</b><br><h3>Tu Preferencia nos hace cada vez m&aacute;s Grandes</h3></br></center></h1>
                        </div>
                    </div>
                    <div  class="row">
                        <div class="col-md-12">
                            <div class="img" id="slideShowImages">
                                <img class="img-responsive" src="img/slide3.jpg" alt="slide 3" />
                                <img class="img-responsive" src="img/slide4.jpg" alt="slide 4" />
                                <img class="img-responsive" src="img/slide6.jpg" alt="slide 6" />
                                <img class="img-responsive" src="img/slide7.jpg" alt="slide 7" />
                                <img class="img-responsive" src="img/slide8.jpg" alt="slide 8" />
                                <img class="img-responsive" src="img/slide10.jpg" alt="slide 10" />
                            </div> 
                        </div>
                    </div>
                </div>   
                <div class="col-md-4">    
                    <div class="row">   
                        <div class="col-md-12" id="login">
                            <div id="tit">¿No tienes una cuenta?</div>
                            <a HREF="registrar.html"> Registrate </a>
                            <form method="POST" class="form-signin" role="form">
                                <div class="text-center">
                                    <img id="avatar" src="img/sof.png" alt="avatar" >
                                </div>
                                <input id="txtEmail" name="email" type="email" class="form-control" placeholder="Email">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                                <button name="iniciar" class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
                            </form>
                            <div class="foot">
                                <p>Av. Ramon Castilla N° 808</p> 
                                <p>negociosmalibu@outlook.com</p>
                                <p>Chulucanas, Piura, Per&uacute;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <script src="js/slideShow.js"></script>
</body>
</html>