<div ng-controller="Ctrlventa">

	<nav class="navbar navbar-fixed-top navbar-inverse">
	            
		<div class="container" >
		             
		    <div class="navbar-brand navbar-left">
		    	<img src="Imagenes/icono.ico" width="70" height="70">
		         
		    </div>  
		    <div class="navbar-brand">
		    	Venta de Productos
		    </div>
		     	
		    <div class="collapse navbar-collapse navHeaderCollapse">
			    <ul class=" nav navbar-nav navbar-right">
			    	<li><a type="label" ng-model="usuario_user">
			              <span class="glyphicon glyphicon-user"></span>{{var_user}}</a>
			        </li>
			    	<li><a class="btn btn-link" type="button" ng-click="carrito()">
			              <span class="glyphicon glyphicon-shopping-cart"></span> VER CARRITO </a>
			          </li>
			        <li><a class="btn btn-link" type="button" ng-click="cerrar()">
			              <span class="glyphicon glyphicon-home"></span> CERRAR SESI&Oacute;N </a>
			        </li>
			          
			    </ul>
		    </div>
		                             
		</div>
		
	</nav>

	<div class="jumbotron">

	</div>

	<div class="container">
	<div class="col-md-1"></div>
	<div id="centro" class="col-md-10">
		<!--Primera fila-->
		<div id="portada" class="row">
			<div class="col-md-2">
				<div id="logo">
					<img class="img-responsive" src="img/logo.png">
				</div>
			</div>
			<div class="col-md-8">
				<p id="name"><marquee>M A L I B U</marquee></p>
				<p id="lemaE">Tu Preferencia nos hace cada vez m&aacute;s Grandes</p>
			</div>
			
		</div>

		<div class="container">
			<ul class="nav nav-pills">
			    <li><a type="button" class="btn btn-primary" ng-click="b">Home</a></li>
			    <li><a type="button" class="btn btn-primary" ng-click="a">Menu 1</a></li>
			    <li><a type="button" class="btn btn-primary">Menu 2</a></li>
			    <li><a type="button" class="btn btn-primary">Menu 3</a></li>
			<applet></applet>
			</ul>

		</div>

		<!--Segunda fila-->
		<div class="col-sm-8">
				     	<h1>Lista de Productos</h1>
				        <input type="search"  class="form-control" ng-model="busqueda"   placeholder="Buscar Producto"><br>
		s</div>
		<div class="row">

			<div class="col-md-12 col-sm-12">
				
				<div id="prod" class="row">
					<!--listar producto-->
					<div  ng-repeat="prod in Lprod | filter: busqueda">
						<div class='producto col-md-3 col-sm-12 col-xs-12'>
							<div id='cajita'>
								<form  class='addCarrito'>
									<div class='row'>
										<div class='imagenF col-md-12 col-sm-12'>
											<center><img class='img-responsive' src='img/gloria.png'></center>
										</div>
									</div>
									<div class='row'>
										<div class='col-md-12 col-sm-12 col-xs-12'>
											<p>{{prod.nombreprod}}</p>
											<p>{{prod.precio | currency: $ }}</p>
											<p>{{prod.stock }}</p>
										</div>
									</div>
									<div>
										<a type="button" class="btn btn-primary" ng-click="addcarrito"><span class="glyphicon glyphicon-download-alt"></span> Agregar al Carrito</a>
									</div>
								</form>
							</div>
						</div>
					</div>	

				</div>
			</div>

		</div>
	</div>
	<div class="col-md-1"></div>
	</div>
	<footer>
		<div class="row">
			<div id="footer" class="col-md-12">
				<p>Negocios Malibu</p>
				<p>Av. Ramon Castilla N° 808</p>
				<p>negociosmalibu@outlook.com</p>
				<p>Chulucanas, Piura, Per&uacute;</p>
			</div>
		</div>
	</footer>
</div>