			
					<form id="AProducto">
						<h1>Ingresar Nuevo Producto</h1>
						<h1>{{mensajeok}}</h1>
					    <h1>{{mensajeerror}}</h1>

						Nombre:    <input type="text" id="nombre" ng-model="nombre"><br>
						<br>
						Precio:    <input type="text" id="precio" ng-model="precio"><br>
						<br>
						Stock:     <input type="text" id="stock" ng-model="stock"><br>
						<br>
						IDmedida:  <input type="text" id="idmedida" ng-model="idmedida"><br>
						<br>
						IDtipo:    <input type="text" id="idtipo" ng-model="idtipo"><br>
						<br>
						<button type="button" ng-click="submit()">Agregar
						</button><br>
					</form>
