<!Doctype html>
<html ng-app="SVentas">
	<head>
		<meta charset="UTF-8">
		
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AngularJS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="bootstrap-theme.min.css">
        <style> .btn{margin-bottom: 10px} </style>

		<script src="angular.min.js"></script>		
		<script src="angular-route.min.js"></script>		
		<script src="js/Cjsproducto.js"></script>		
	
	</head> 
	<body ng-controller="eventos">
			<nav class="navbar navbar-fixed-top navbar-inverse">
            
	            <div class="container">
	                
	                <div class="navbar-brand">
	                    Sistema De Ventas
	                </div>
	                
	                <div class="collapse navbar-collapse navHeaderCollapse">
	                    <ul class=" nav navbar-nav navbar-right">
	                        <li  ><a class="btn btn-link " type="button" ng-click="agregar()">Agregar</a></li>
			    			<li><a class="btn btn-link " type="button" ng-click="listar()">Listar</a></li>
	                    </ul>
                               
                	</div>
	               
	            </div>
            </nav>

            <div class="jumbotron">
                <div class="container">
                    <h2>Transaccion Productos</h2>
                </div>
         	</div>
        
			 <div class ="jumbobotron" ng-controller="agregarP" ng-show="flagP">
				
					<h1>Ingresar Nuevo Producto</h1>
						
					<h1 ><font color="red">{{mensajeok}}</font></h1>
					<h1 ><font color="red">{{mensajeerror}}</font></h1>

					<form name="Aproducto"  novalidate>
						
						Nombre:    <input name="Nombre" type="text" id="nombre" ng-model="nombre" placeholder="Ingresar Nombre" required ><br>
						<span style = "color:red" ng-show = "Aproducto.Nombre.$dirty && Aproducto.Nombre.$invalid">
                        <span ng-show = "Aproducto.Nombre.$error.required">Nombre is required.</span>
                     	</span>
						<br>
						Precio:    <input name="Precio" type="text" id="precio" ng-model="precio" placeholder="Ingresar Precio 00.0" required><br>
						<span style = "color:red" ng-show = "Aproducto.Precio.$dirty && Aproducto.Precio.$invalid">
                        <span ng-show = "Aproducto.Precio.$error.required">Precio is required.</span>
                     	</span>
						<br>
						Stock:     <input name="Stock" type="text" id="stock" ng-model="stock" placeholder="Ingresar stock kilo,litro,unidad" required><br>
						<span style = "color:red" ng-show = "Aproducto.Stock.$dirty && Aproducto.Stock.$invalid">
                        <span ng-show = "Aproducto.Stock.$error.required">Stock is required.</span>
                     	</span>
						<br>
						IDmedida:  <input name="Medida" type="text" id="idmedida" ng-model="idmedida" placeholder="Ingresar id_medida" required><br>
						<span style = "color:red" ng-show = "Aproducto.Medida.$dirty && Aproducto.Medida.$invalid">
                        <span ng-show = "Aproducto.Medida.$error.required">Medida is required.</span>
                     	</span>
						<br>
						IDtipo:    <input name="Tipo" type="text" id="idtipo" ng-model="idtipo" placeholder="Ingresar id_tipo" required><br>
						<span style = "color:red" ng-show = "Aproducto.Tipo.$dirty && Aproducto.Tipo.$invalid">
                        <span ng-show = "Aproducto.Tipo.$error.required">Tipo is required.</span>
                     	</span>
						<br>
						<a class="btn btn-default btn-primary" type="button" ng-click="reset()"> Reset </a>
						<a class="btn btn-default btn-primary"  ng-disabled = "Aproducto.Nombre.$dirty &&
                        Aproducto.Nombre.$invalid || Aproducto.Precio.$dirty &&
                        Aproducto.Precio.$invalid || Aproducto.Medida.$dirty &&
                        Aproducto.Medida.$invalid || Aproducto.Tipo.$dirty &&
                        Aproducto.Tipo.$invalid" ng-click="submit()">Enviar</a><br>

					</form>
					
			</div>   
			
			<div class="container" ng-controller="ListarP" ng-show="flagL">
				<table border="1"> <h1>Ingresar Nuevo Producto</h1>
					<tr class="list-group">
						<td>Nombre Producto</td>
						<td>Precio Producto</td>
						<td>Imagen Producto</td>
						
					</tr>	
					<tr class="list-group" ng-repeat="list in listaP">
						<td > {{ list.nombreprod}}</td>
						<td >{{list.precio}}</td>
						<td >{{list.img}}</td>
						
					</tr>	
				</table>	
			</div>
			
	</body>
</html>