<!Doctype html>
<html ng-app="SVentas">
	<head>
		<meta charset="UTF-8">
		
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AngularJS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="bootstrap-theme.css">
        <style> .btn{margin-bottom: 10px} </style>

		<script src="angular.min.js"></script>		
		<script src="angular-route.min.js"></script>		
		<script src="js/Cjsproducto.js"></script>		
	
	</head> 
	<body ng-controller="eventos">
			<nav class="navbar navbar-fixed-top navbar-inverse">
            
	            <div class="container">
	                
	                <div class="navbar-brand">
	                    Sistema De Ventas
	                </div>
	                
	                <div class="collapse navbar-collapse navHeaderCollapse">
	                    <ul class=" nav navbar-nav navbar-right">
	                        <li><a class="btn btn-link " type="button" ng-click="agregar()">Agregar</a></li>
			    			<li><a class="btn btn-link " type="button" ng-click="listar()">Listar</a></li>
			    			<li><a class="btn btn-link " type="button" ng-click="modificar()">Modificar</a></li>
			    		</ul>
                               
                	</div>
	               
	            </div>
            </nav>

            <div class="jumbotron">
                <div class="container">
                    <h2>Transaccion Productos</h2>
                </div>
         	</div>
        
			 <div class ="jumbobotron" ng-controller="agregarP" ng-show="flagP">
				
					<h1>Ingresar Nuevo Producto</h1>
						
					<h1 ><font color="red">{{mensajeok}}</font></h1>
					<h1 ><font color="red">{{mensajeerror}}</font></h1>

					<form class="form-horizontal" role="form" name="Aproducto"  novalidate>
						
						<div class="form-group">
					      <label class="control-label col-sm-2" for="nombre">Nombre:</label>
					      <div class="col-sm-4">
					        <input name="Nombres" type="text"  class="form-control" id="nombre" ng-model="producto.nombre" placeholder="Ingresar Nombre" required>
					        <span style = "color:red" ng-show = "Aproducto.Nombres.$dirty && Aproducto.Nombres.$invalid">
	                        <span ng-show = "Aproducto.Nombres.$error.required">Nombre is required.</span>
	                     	</span>
	                     </div>
					    </div>

					    <div class="form-group">
					      <label class="control-label col-sm-2" for="Precio">Precio:</label>
					      <div class="col-sm-4">
					        <input name="Precios" type="text"  class="form-control" id="precio" ng-model="producto.precio" placeholder="Ingresar Precio 00.0" required>
					        <span style = "color:red" ng-show = "Aproducto.Precios.$dirty && Aproducto.Precios.$invalid">
	                        <span ng-show = "Aproducto.Precios.$error.required">Precio is required.</span>
	                     	</span>
					      </div>
					    </div>

					    <div class="form-group">
					      <label class="control-label col-sm-2" for="Stock">Stock:</label>
					      <div class="col-sm-4">
					        <input name="Stocks" type="text"  class="form-control" id="stock" ng-model="producto.stock" placeholder="Ingresar stock kilo,litro,unidad" required>
							<span style = "color:red" ng-show = "Aproducto.Stocks.$dirty && Aproducto.Stocks.$invalid">
	                        <span ng-show = "Aproducto.Stocks.$error.required">Stock is required.</span>
	                     	</span>
					      </div>
					    </div>

					    <div class="form-group">
					      <label class="control-label col-sm-2" for="Idmedida">IDMEDIDA:</label>
					      <div class="col-sm-4">
					        <select name="Medidas" class="form-control" id="idmedida" ng-options="c.idmedida as c.medida for c in listaM" ng-model="producto.idmedida" placeholder="Ingresar id_medida" required></select>
							<span style = "color:red" ng-show = "Aproducto.Medidas.$dirty && Aproducto.Medidas.$invalid">
	                        <span ng-show = "Aproducto.Medidas.$error.required">Medida is required.</span>
	                     	</span>
					      </div>
					    </div>

					    <div class="form-group">
					      <label class="control-label col-sm-2" for="IDTIPO">IDTIPO:</label>
					      <div class="col-sm-4">
					        <select name="Tipos" class="form-control" id="idtipo" ng-options="b.idtipoprod as b.tipoprod for b in listaT" ng-model="producto.idtipo" placeholder="Ingresar id_tipo" required></select>
					        <span style = "color:red" ng-show = "Aproducto.Tipos.$dirty && Aproducto.Tipos.$invalid">
	                        <span ng-show = "Aproducto.Tipos.$error.required">Tipo is required.</span>
	                     	</span>
					      </div>
					    </div>
						
						    <div class="form-group">        
						      <div class="col-sm-offset-2 col-sm-10">
						        <a class="btn btn-default btn-primary" type="button" ng-click="reset()"> Reset </a>
								<a class="btn btn-default btn-primary"  ng-disabled = "Aproducto.Nombres.$dirty &&
		                        Aproducto.Nombres.$invalid || Aproducto.Precios.$dirty &&
		                        Aproducto.Precios.$invalid || Aproducto.Medidas.$dirty &&
		                        Aproducto.Medidas.$invalid || Aproducto.Tipos.$dirty &&
		                        Aproducto.Tipos.$invalid" ng-click="submit()">Enviar</a>
						      </div>
						    </div>
					</form>
					
			</div>   
			
			<div class="table-hover" ng-controller="ListarP" ng-show="flagL">
				<table class="table"> <h1>Ingresar Nuevo Producto
					<tr >
						<td>Nombre Producto</td>
						<td>Precio Producto</td>
						<td>Imagen Producto</td>
						
					</tr>	
					<tr ng-repeat="list in listaP">
						<td>{{list.nombreprod}}</td>
						<td>{{list.precio |currency: $}}</td>
						<td>
							<a class="btn btn-warning" type="button" ng-click="eliminar()">Eliminar</a>
							<tr >
						</td>
					</tr>	
				</table>	
			</div>
			
			

	</body>
</html>